---
layout: layouts/home.njk
permalink: /posts/
eleventyNavigation:
  key: Archive
  order: 4
  url: /archive
---

<h1>Archive</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
