  <div role="region" class="sidebar">
    <div class="container sidebar-sticky">
      <div class="sidebar-about">
        <h1><a href="/">{{ site.title }}</a></h1>
        <p class="lead">{{ site.tagline }}</p>
      </div>

      <nav class="sidebar-nav">
        <a class="sidebar-nav-item{% if page.url == '/' %} active{% endif %}" href="/">Home</a>
        {% for item in collections.pages %}
        <a class="sidebar-nav-item{% if page.url == item.url %} active{% endif %}" href="{{ item.url }}">{{ item.data.title }}</a>
        {% endfor %}
        <br>
        <div style="font-size:80%;">
          <a class="sidebar-nav-item" href="{{ "https://github.com/tford9" }}" rel="noopener" target="_blank">GitHub</a>
          <a class="sidebar-nav-item" href="{{ "https://www.threads.net/@professor_ford" }}" rel="noopener" target="_blank">Threads</a>
        </div>
      </nav>

      <p>&copy; {{ site.time | dateFormat('YYYY') }} All rights reserved.</p>
    </div>
  </div>
